.fifth__section__container{
background-color: #f2f2f2;
/* width: 99.999vw; */
height: 45vh;
}

.fifth__section__title{
 font-weight: bolder;
 font-size: 2rem;
 width: 90%;
 margin: auto;
 padding-top: 24px;
 text-align: center;
 margin-top: 5%;
}

.fifth__section__info{
    color: gray;
    width: 90%;
    height: 20%;
    margin: auto;
    text-align:left;
    margin-block-start: 0px;
    /* margin-left: 9%; */
    text-align: center;
}

.fifth__section__cards__container{
    display: flex;
    justify-content: center;
    align-items: baseline;
    width: 90%;
    height:100%;
    margin: auto;
}

.fifth__section__card{
    display: grid;
    align-items: center;
    justify-content: center;
    width:25%;
    height: 58%;
    margin: 0px 0% 0px 5%;
    box-shadow:
     0 -3em 3em rgba(0,0,0,0.1),
          0.3em 0.3em 1em rgba(0,0,0,0.3);
    
}

.fifth__section__icon{
    font-size: 2rem;
    margin:auto;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #13468A;
}


.fifth__section__card__color__info{
    color: #13468A;
    text-decoration: underline;
}

@media screen and (min-width:1800px) {

    .fifth__section__container{
        height: 50vh;
    }
    .fifth__section__title{
        font-size: 3rem;
    }

    .fifth__section__info{
        font-size: 1.5rem;
        margin-left: 7%;
    }

    .fifth__section__cards__container{
        align-items: baseline;
    }

    .fifth__section__card{
        width: 20%;
        height: 60%;
        font-size: 1.5rem;
    }
}


@media screen and (max-width:1800px) {
    .fifth__section__info{
        margin-left: 6.5%;
    }
}

@media screen and (max-width:1300px) {
    .fifth__section__info{
        margin-left: 7%;
    }
}

@media screen and (max-width:1050px) {
    .fifth__section__info{
        margin-left: 7%;
    }
}


@media screen and (max-width:800px) {
    .fifth__section__title{
        margin-top: 8%;
    }

    .fifth__section__info{
        margin-left: 8%;
    }

    .fifth__section__cards__container{
        height: 80%;
    }

    .fifth__section__card{
        height: 80%;
    }
}

@media screen and (max-width:450px) {

    .fifth__section__container{
        height: 45vh;
    }
    .fifth__section__title{
        font-size: 1.5rem;
    }

    .fifth__section__info{
        font-size: 1rem;
    }

    .fifth__section__cards__container{
        align-items: baseline;
        justify-content: space-around;
        height: 50%;
        width: 95%;
    }

    .fifth__section__card{
        width: 35%;
        height: 100%;
        font-size: .7rem;
        margin: 0% 3% 0% 0%;
    }
}

@media screen and (max-width:320px) {
    .fifth__section__container{
        height: 50vh;
    }

    .fifth__section__card{
        font-size: .7rem;
        margin: 3px;
        height: 80%;
    }

    .fifth__section__card__info{
        padding: 0px 8px 0px 8px;
    }

    .fifth__section__card__info__email{
        padding: 0px 8px 0px 8px;
        font-size: .6rem;
    }

    .fifth__section__icon{
        font-size: 1.3rem;
    }
}