.fifth__section__container{
background-color: #f2f2f2;
/* width: 99.999vw; */
height: 45vh;
}

.fifth__section__title{
 font-weight: bolder;
 font-size: 2rem;
 width: 90%;
 margin: auto;
 padding-top: 24px;
 text-align: left;
}

.fifth__section__info{
    color: gray;
    width: 90%;
    height: 20%;
    margin: auto;
    text-align:left;
    margin-block-start: 0px;
}

.fifth__section__cards__container{
    display: flex;
    justify-content: center;
    align-items: baseline;
    width: 90%;
    height:100%;
    margin: auto;
}

.fifth__section__card{

    width:25%;
    height: 55%;
    margin: 0px 5% 0px 0px;
    box-shadow:
     0 -3em 3em rgba(0,0,0,0.1),
          0.3em 0.3em 1em rgba(0,0,0,0.3);
}

.fifth__section__icon{
    font-size: 2rem;
    margin-top: 5%;
    color: #13468A;
}


.fifth__section__card__color__info{
    color: #13468A;
    text-decoration: underline;
}

@media screen and (min-width:2060px) {

    .fifth__section__container{
        height: 50vh;
    }
    .fifth__section__title{
        font-size: 3rem;
    }

    .fifth__section__info{
        font-size: 1.5rem;
    }

    .fifth__section__cards__container{
        align-items: baseline;
    }

    .fifth__section__card{
        width: 20%;
        height: 40%;
        font-size: 1.5rem;
    }
}

@media screen and (max-width:768px) {
    .fifth__section__title{
        margin-top: 8%;
    }

    .fifth__section__cards__container{
        height: 50%;
    }

    .fifth__section__card{
        height: 80%;
    }
}

@media screen and (max-width:425px) {

    .fifth__section__container{
        height: 45vh;
    }
    .fifth__section__title{
        font-size: 1.5rem;
    }

    .fifth__section__info{
        font-size: 1rem;
    }

    .fifth__section__cards__container{
        align-items: baseline;
        justify-content: space-around;
        height: 50%;
        width: 95%;
    }

    .fifth__section__card{
        width: 35%;
        height: 80%;
        font-size: .7rem;
    }
}

@media screen and (max-width:320px) {
    .fifth__section__container{
        height: 50vh;
    }

    .fifth__section__card{
        font-size: .5rem;
        margin: 3px;
        height: 45%;
    }
}