.second__section__title{
    background-color: #f2f2f2;
    margin-top: 5%;
    color: #13468A;
    font-size: 2rem;
    margin-block-end: 0px ;
}


 .second__section__container{
 position: relative;
  width: 100%; 
 height: 100vh;
 background-color: #f2f2f2;
 font-family: 'Poppins', sans-serif;
 font-weight: 500;

}

.card__icon{
    font-size: 3.5rem;
    margin: auto;
    margin-top: 5%;
}

.cards__sections1{
    position: absolute;
    width: 20%;
    height: 25%;
    left: 20%;
    transform-style: preserve-3d;
    transition: all 1.5s ease;
    background-color: white;
    color: #13468A;
    box-shadow: 0px 0px 15px 3px rgb(0, 0, 0, 0.1);
    border-radius: 5%;
    margin-top: 3.5%;
}

.cards__sections1:hover{
    transform: rotateY(180deg);
}

.front__card{
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    background-color: white;
    color: #13468A;
    border-radius: 5%;
    display: grid;
    align-items: center;
    justify-content: center;
    grid-template-rows: 40% 60%;
}

.big__back__card{
    position: absolute;
    display: flex;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    background-color: #13468A;
    color: white;
    transform: rotateY(180deg);
    font-size: 1.2rem;
    border-radius: 5%;
    justify-content: center;
    align-items: center;
    padding: 0px 15px 0px 15px;
}


.back__card{
    position: absolute;
    display: flex;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    background-color: #13468A;
    color: white;
    transform: rotateY(180deg);
    font-size: 110%;
    border-radius: 5%;
    justify-content: center;
    align-items: center;
    padding: 0px 15px 0px 15px;
    /* margin: 10%;
    margin-top: 0px; */
}

.front__card__title{
    font-size: 1.7rem;
    padding: 5%;
    font-weight: 500;
}

.cards__sections2{
    position: absolute;
    width: 20%;
    height: 25%;
    transform-style: preserve-3d;
    transition: all 1.5s ease;
    background-color: white;
    left: 60%;
    box-shadow: 0px 0px 15px 3px rgb(0, 0, 0, 0.1);
    color: #13468A;
    border-radius: 5%;
    margin-top: 3.5%;
}

.cards__sections2:hover{
    transform: rotateY(180deg);
}

.cards__sections3{
    position: absolute;
    width: 20%;
    height: 25%;
    transform-style: preserve-3d;
    transition: all 1.5s ease;
    background-color: white;
    top: 33%;
    left: 20%;
    box-shadow: 0px 0px 15px 3px rgb(0, 0, 0, 0.1);
    color: #13468A;
    border-radius: 5%;
    margin-top: 3.5%;
}

.cards__sections3:hover{
    transform: rotateY(180deg);
}

.cards__sections4{
    position: absolute;
    width: 20%;
    height: 25%;
    transform-style: preserve-3d;
    transition: all 1.5s ease;
    background-color: white;
    top: 33%;
    left: 60%;
    box-shadow: 0px 0px 15px 3px rgb(0, 0, 0, 0.1);
    color: #13468A;
    border-radius: 5%;
    margin-top:3.5%;
}

.cards__sections4:hover{
    transform: rotateY(180deg);
}

.cards__sections5{
    position: absolute;
    width: 20%;
    height: 25%;
    transform-style: preserve-3d;
    transition: all 1.5s ease;
    background-color: white;
    top: 61%;
    left: 20%;
    box-shadow: 0px 0px 15px 3px rgb(0, 0, 0, 0.1);
    color: #13468A;
    border-radius: 5%;
    margin-top: 3.5%;
}

.cards__sections5:hover{
    transform: rotateY(180deg);
}

.cards__sections6{
    position: absolute;
    width: 20%;
    height: 25%;
    transform-style: preserve-3d;
    transition: all 1.5s ease;
    background-color: white;
    top: 61%;
    left: 60%;
    box-shadow: 0px 0px 15px 3px rgb(0, 0, 0, 0.1);
    color: #13468A;
    border-radius: 5%;
    margin-top: 3.%;
}

.front__card__title6{
    font-size: 1.5rem;
    padding: 5%;
    font-weight: 500;
}

.cards__sections6:hover{
    transform: rotateY(180deg);
}


@media screen and (max-width: 1500px) {
    .front__card__title{
        font-size: 1.5rem;
    }

    .front__card__title6{
        font-size: 1.2rem;
    }

    .big__back__card{
        font-size: .9rem;
    }

    .back__card{
        font-size: .9rem;
    }

    .card__icon__resolution{
        margin-top: 15%;
    }

    .cards__sections3{
        top: 35%;
    }

    .cards__sections4{
        top: 35%;
    }

    .cards__sections5{
        top: 63%;
    }

    .cards__sections6{
        top: 63%;
    }
}

@media screen and (max-width: 800px) {
    .front__card__title{
        font-size: 1.2rem;
    }

    .front__card__title6{
        font-size: 1rem;
    }

    .back__card{
        font-size: .8rem;
    }

    .big__back__card{
        font-size: .8rem;
    }

    .card__icon__resolution{
        margin-top: 20%;
    }

    .cards__sections1{
        width: 25%;
    }

    .cards__sections2{
        width: 25%;
    }

    .cards__sections3{
        top: 36%;
        width: 25%;
    }

    .cards__sections4{
        top: 36%;
        width: 25%;
    }

    .cards__sections5{
        top: 64%;
        width: 25%;
    }

    .cards__sections6{
        top: 64%;
        width: 25%;
    }
}

@media screen and (max-width: 510px) {
    .front__card__title{
        font-size: 1.2rem;
    }

    .front__card__title6{
        font-size: 1rem;
    }

    .back__card{
        font-size: .8rem;
    }

    .big__back__card{
        font-size: .8rem;
    }

    .card__icon__resolution{
        margin-top: 20%;
    }

    .cards__sections1{
        width: 40%;
        left: 6%;
    }

    .cards__sections2{
        width: 40%;
        left: 53%;
    }

    .cards__sections3{
        top: 44%;
        width: 40%;
        left: 6%;
    }

    .cards__sections4{
        top: 44%;
        width: 40%;
        left: 53%;
    }

    .cards__sections5{
        top: 73%;
        width: 40%;
        left: 6%;
    }

    .cards__sections6{
        top: 73%;
        width: 40%;
        left: 53%;
    }
}

